{% extends "base.html" %}

{% load catalog_extras thumbnail i18n %}

{% block content %}
    <div class="search-result text-center">
        {% trans 'ВСЕГО НАЙДЕНО ОБЪЕКТОВ' %} <span class="red-color">{{ property_list.count }}</span>
    </div>
    <div class="catalog">
        <div class="row">
            {% for property in properties %}
                <div class="offer col-sm-6 col-xs-12">

                    <img src="{{ property.get_title_image.image|thumbnail_url:'catalog' }}">
                    <div class="bg_white-offer"></div>
                    <div class="offer-info">
                        <div>
                            <p class="offer-title">{{ property.name }}</p>
                            <p>{{ property.get_property_type_display  }}<br>{% trans 'комнат' %}: {{ property.number_of_bedrooms }}</p>
                        </div>
                        <div class="offer-price">
                            <span class="price">{{ property|get_price:request }}</span>
                            <a href="{{ property.get_absolute_url }}" class="continue"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if properties.has_other_pages %}
        <div class="paginator">
            <div class="pager">
                {% if properties.has_previous %}
                    <a href="?page={{ properties.previous_page_number }}" class="perehod prev"></a>
                {% endif %}
                {% for num in properties.paginator.page_range %}
                    {% ifequal num properties.number %}
                        <a class="page current">{{ num }}</a>
                    {% else %}
                        <a href="?page={{ num }}" class="page">{{ num }}</a>
                    {% endifequal %} 
                {% endfor %}


                {% if properties.has_next %}
                    <a href="?page={{ properties.next_page_number }}" class="perehod next"></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}