{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="content content-padding">
        <!--FILTER_FORM BEGIN-->
        {% include 'filter_form.html' with filter_form=filter_form %}
        <!--FILTER_FORM END-->

        <div class="">
            <!--MAP BEGIN-->
            <div class="map hidden-sm hidden-xs">
                <img src="{% static "images/map.png" %}" width="295px">
                <a id="point-1" class="point" href="#"></a>
                <a id="point-2" class="point" href="#"></a>
                <a id="point-3" class="point" href="#"></a>
                <a id="point-4" class="point" href="#"></a>
                <a id="point-5" class="point" href="#"></a>
                <a id="point-6" class="point" href="#"></a>
                <a id="point-7" class="point" href="#"></a>
                <a id="point-8" class="point" href="#"></a>
                <a id="point-9" class="point" href="#"></a>
                <a id="point-10" class="point" href="#"></a>
            </div>
            <!--MAP END-->
            <div class="curort-description">
                <div class="cur-block">
                    <p class="block-h">ТАЙЛАНДСКИЙ КУРОРТ - ПХУКЕТ</p>
                    <p class="main-text">
                        Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
                        Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов. Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
                    </p>
                </div>
                <div class="cur-block">
                    <p class="block-h red-color">ГОРЯЧИЕ ПРЕДЛОЖЕНИЯ</p>
                    <div class="row fire-offer">
                        <!-- OFFER_BLOCK BEGIN-->
                        <div class="col-sm-4 col-xs-12 offer-block">
                            <img class="offer-img" src="{% static "images/offer/img-1.png" %}">
                            <div class="offer-decrption">
                                <div class="hotel-title">
                                    <p class="hotel-name">Жемчужина Таиланда</p>
                                    <p class="hotel-info">Номера 1-го класса</p>
                                </div>
                                <div class="continue"></div>
                            </div>
                        </div>
                        <!-- OFFER_BLOCK END-->

                        <!-- OFFER_BLOCK BEGIN-->
                        <div class="col-sm-4 col-xs-12 offer-block">
                            <img class="offer-img" src="{% static "images/offer/img-1.png" %}">
                            <div class="offer-decrption">
                                <div class="hotel-title">
                                    <p class="hotel-name">Жемчужина Таиланда</p>
                                    <p class="hotel-info">Номера 1-го класса</p>
                                </div>
                                <div class="continue"></div>
                            </div>
                        </div>
                        <!-- OFFER_BLOCK END-->

                        <!-- OFFER_BLOCK BEGIN-->
                        <div class="col-sm-4 col-xs-12 offer-block">
                            <img class="offer-img" src="{% static "images/offer/img-1.png" %}">
                            <div class="offer-decrption">
                                <div class="hotel-title">
                                    <p class="hotel-name">Жемчужина Таиланда</p>
                                    <p class="hotel-info">Номера 1-го класса</p>
                                </div>
                                <div class="continue"></div>
                            </div>
                        </div>
                        <!-- OFFER_BLOCK END-->
                    </div>
                    <div class="text-center m-t-35"><a href="#"><button class="btn-sbmt">ПОСМОТРЕТЬ ВСЕ ВАРИАНТЫ</button></a></div>
                </div>
                <div class="cur-block">
                    <p class="block-h">СТАТЬИ И НОВОСТИ</p>
                    <div class="row m-0">
                        <div class="col-sm-6 col-xs-12 wrap-nws">
                            <div class="perehod"></div>
                            <div class="news-block">
                                <p class="news-title">Лучшие экскурсии на острове Пхукете</p>
                                <p class="news-date">31 октября / 2016</p>
                                <div class="news-text">
                                    Пхукет расположен у западного побережья Таиланда, в Андаманском море. Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 wrap-nws">
                            <div class="perehod"></div>
                            <div class="news-block">
                                <p class="news-title">Лучшие экскурсии на острове Пхукете этим летом</p>
                                <p class="news-date">31 октября / 2016</p>
                                <div class="news-text">
                                    Пхукет расположен у западного побережья Таиланда, в Андаманском море. Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t-35"><a href="#"><button class="btn-all">ПОСМОТРЕТЬ ВСЕ ВАРИАНТЫ</button></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL FORM-->
    <div class="modal fade" id="modal_search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" id="dynamic_screen" role="document">
            <div class="modal-content pos-0 active" id="pos-0" position="0">
                <div class="modal-header ">
                    <div class="button-block">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title">позвольте нам сделать ваш выбор легче!</p>
                </div>
                <div class="modal-body">
                    <p class="modal-title red-color text-center p-b-25 p-t-25">Что вас инересует?</p>
                    <div class="interest fire-offer text-center">
                        <div class="offer-block">
                            <img class="offer-img" src="images/window-disp/link1.png">
                            <div class="offer-decrption">
                                <div class="hotel-title">
                                    Инвестиции в строительство
                                </div>
                                <div class="continue next-w" next="#pos-4"></div>
                            </div>
                        </div>
                        <div class="offer-block">
                            <img class="offer-img" src="images/window-disp/link2.png">
                            <div class="offer-decrption">
                                <div class="hotel-title">
                                    Покупка недвижимости
                                </div>
                                <div class="continue next-w" next="#pos-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-content pos-1" id="pos-1" position="1">
                <div class="modal-header">
                    <div class="button-block">
                        <button type="button" class="continue continue-prev prev-w"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title red-color">Какова цель вашей покупки?</p>
                </div>
                <div class="modal-body">
                    <div class="text-center f-0 p-b-25">
                        <div class="target-block"><div class="target-text">Проживание</div><div class="continue next-w" next="#pos-2"></div></div>
                        <div class="target-block"><div class="target-text">Инвестиция + Проживание</div><div class="continue next-w" next="#pos-2"></div></div>
                        <div class="target-block"><div class="target-text">Инвестиция</div><div class="continue next-w" next="#pos-2"></div></div>
                    </div>
                    <div class="text-center"><button class="btn-sbmt next-w" next="#pos-5">В ЧЕМ РАЗНИЦА?</button></div>
                </div>
            </div>

            <div class="modal-content pos-2" id="pos-2" position="2">
                <div class="modal-header">
                    <div class="button-block">
                        <button type="button" class="continue continue-prev prev-w"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title red-color">Какой район вы предпочитаете?</p>
                </div>
                <div class="modal-body">
                    <p class="text-center p-b-20">Можно выбрать несколько районов</p>
                    <div class="text-center">
                        <div>
                            <div class="choice-place"><div class="choice-text">Кату</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Ката</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Бангтао</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Камала</div><input class="chckbx" type="checkbox"></div>
                        </div>
                        <div>
                            <div class="choice-place"><div class="choice-text">Карон</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Майкао</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Раваи</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Патонг</div><input class="chckbx" type="checkbox"></div>
                        </div>
                        <div>
                            <div class="choice-place"><div class="choice-text">Чалонг</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Найтон</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Сурин</div><input class="chckbx" type="checkbox"></div>
                            <div class="choice-place"><div class="choice-text">Найхарн</div><input class="chckbx" type="checkbox"></div>
                        </div>
                    </div>
                    <div class="text-center p-t-25"><button class="btn-sbmt next-w" next="#pos-5">В ЧЕМ РАЗНИЦА?</button><div class="target-block"><div class="target-text">Далее</div><div class="continue next-w" next="#pos-3"></div></div></div>
                </div>
            </div>

            <div class="modal-content pos-3" id="pos-3" position="3">
                <div class="modal-header">
                    <div class="button-block">
                        <button type="button" class="continue continue-prev prev-w"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title red-color">Какой тип недвижимости вы ищете?</p>
                </div>
                <div class="modal-body">
                    <div class="text-center f-0 p-b-25">
                        <div class="target-block"><div class="target-text">Вилла</div><div class="continue"></div></div>
                        <div class="target-block"><div class="target-text">Таунхаус</div><div class="continue"></div></div>
                        <div class="target-block"><div class="target-text">Кондоминиум</div><div class="continue"></div></div>
                    </div>
                    <div class="text-center"><button class="btn-sbmt next-w" next="#pos-5">В ЧЕМ РАЗНИЦА?</button></div>
                </div>
            </div>
            <div class="modal-content pos-4" id="pos-4" position="3">
                <div class="modal-header">
                    <div class="button-block">
                        <button type="button" class="continue continue-prev prev-w"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title red-color">Инвестиции в строительство</p>
                </div>
                <div class="modal-body">
                    <div class="f-11">
                        Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
                        Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов. Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
                        <br><br>
                        Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
                        Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов.
                        <br><br>
                        Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
                    </div>
                    <div class="text-center p-t-25"><div class="target-block"><div class="target-text">ВЕРНУТЬСЯ К ПОИСКУ</div><div class="continue prev-w"></div></div></div>
                </div>
            </div>
            <div class="modal-content pos-5" id="pos-5" position="3">
                <div class="modal-header">
                    <div class="button-block">
                        <button type="button" class="continue continue-prev prev-w"></button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <p class="modal-title red-color">в чем разница?</p>
                </div>
                <div class="modal-body">
                    <div class="f-11">
                        Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
                        Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов. Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
                        <br><br>
                        Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
                        Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов.
                        <br><br>
                        Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.

                    </div>
                    <div class="text-center p-t-25"><div class="target-block"><div class="target-text">ВЕРНУТЬСЯ К ПОИСКУ</div><div class="continue prev-w"></div></div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function () {
        $(".next-w").on("click", function () {
            var nextw = $(this).attr("next");
            $(".modal-content.active").removeClass("active");
            $(nextw).addClass("active");

            var next_prev = $(nextw).find(".prev-w");
            next_prev.attr('prev', "#"+$(this).parents(".modal-content").attr("id"));
        }) ;
        $(".prev-w").on("click", function () {
            var prevw = $(this).attr("prev");
            $(".modal-content.active").removeClass("active");
            $(prevw).addClass("active");
        });

        setTimeout('$("#modal_search").modal("show")', 2000);
    })
    </script>
{% endblock %}