{% extends "base.html" %}

{% load static solo_tags thumbnail i18n %}
{% load catalog_extras %}
{% block content %}
        <div class="">
            <!--MAP BEGIN-->
            <div class="map hidden-sm hidden-xs">
                <img src="{% static "images/map.png" %}" width="295px">
                <a id="point-1" class="point" href="#"></a>
                <a id="point-2" class="point" href="#"></a>
                <a id="point-3" class="point" href="#"></a>
                <a id="point-4" class="point" href="#"></a>
                <a id="point-5" class="point" href="#"></a>
                <a id="point-6" class="point" href="#"></a>
                <a id="point-7" class="point" href="#"></a>
                <a id="point-8" class="point" href="#"></a>
                <a id="point-9" class="point" href="#"></a>
                <a id="point-10" class="point" href="#"></a>
            </div>
            <!--MAP END-->
            <div class="curort-description">
                <div class="cur-block">
                    {% get_solo 'config.SiteConfiguration' as site_config %}
                        <p class="block-h">{{ site_config.header }}</p>
                        <p class="main-text">
                        {{ site_config.text }}
                    </p>
                </div>
                <div class="cur-block">
                    <p class="block-h red-color">{% trans 'ГОРЯЧИЕ ПРЕДЛОЖЕНИЯ' %}</p>
                    <div class="row fire-offer">
                        {% if hot_property %}
                            {% for property in hot_property %}
                                <!-- OFFER_BLOCK BEGIN-->
                                <div class="col-sm-4 col-xs-12 offer-block">
                                    <img class="offer-img" src="{{ property.propertyphoto_set.first.image|thumbnail_url:'thumbnail' }}"/>

                                    <div class="offer-decrption">
                                        <div class="hotel-title">
                                            <p class="hotel-name">{{ property.name }}</p>
                                            <p class="hotel-info">{{ property|get_price:request }}</p>
                                        </div>
                                        <a href="{% url 'catalog:detail' property.id %}"><div class="continue"></div></a>
                                    </div>
                                </div>
                                <!-- OFFER_BLOCK END-->
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="text-center m-t-35"><a href="{% url 'catalog:catalog' %}"><button class="btn-sbmt">{% trans 'ПОСМОТРЕТЬ ВСЕ ВАРИАНТЫ' %}</button></a></div>
                </div>
                {% include "articles_block.html" with articles=articles %}
            </div>
        </div>
{% endblock %}