{% load static %}
<form action="{% url 'catalog:catalog' %}" method="get">
<div class="modal-content pos-0 active" id="pos-0" position="0">
    <div class="modal-header ">
        <div class="button-block">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title">позвольте нам сделать ваш выбор легче!</p>
    </div>
    <div class="modal-body">
        <p class="modal-title red-color text-center p-b-25 p-t-25">Что вас инересует?</p>
        <div class="interest fire-offer text-center">
            <div class="offer-block">
                <img class="offer-img" src="{% static 'images/window-disp/link1.png' %}">
                <div class="offer-decrption">
                    <div class="hotel-title">
                        Инвестиции в строительство
                    </div>
                    <div class="continue next-w" next="#pos-4"></div>
                </div>
            </div>
            <div class="offer-block">
                <img class="offer-img" src="{% static 'images/window-disp/link2.png' %}">
                <div class="offer-decrption">
                    <div class="hotel-title">
                        Покупка недвижимости
                    </div>
                    <div class="continue next-w" next="#pos-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-content pos-1" id="pos-1" position="1">
    <div class="modal-header">
        <div class="button-block">
            <button type="button" class="continue continue-prev prev-w"></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title red-color">Какова цель вашей покупки?</p>
    </div>
    <div class="modal-body">
        <div class="text-center f-0 p-b-25">
            <select class="target" name="buy" next="#pos-2">
                <option value="Проживание">Проживание</option>
                <option value="Инвестиция + Проживание">Инвестиция + Проживание</option>
                <option value="Инвестиция">Инвестиция</option>
            </select>
        </div>
        <div class="text-center"><button class="btn-sbmt next-w" next="#pos-5">В ЧЕМ РАЗНИЦА?</button></div>
    </div>
</div>

<div class="modal-content pos-2" id="pos-2" position="2">
    <div class="modal-header">
        <div class="button-block">
            <button type="button" class="continue continue-prev prev-w"></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title red-color">Какой район вы предпочитаете?</p>
    </div>
    <div class="modal-body">
        <p class="text-center p-b-20">Можно выбрать несколько районов</p>
        <div class="text-center">
            <div>
                {% for district in districts %}
                    <div class="choice-place"><div class="choice-text">{{district}}</div><input class="chckbx" type="checkbox" name="district" value="{{ district.id }}" ></div>
                    {% if forloop.counter|divisibleby:4 %}</div><div>{% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="text-center p-t-25"><button class="btn-sbmt next-w " next="#pos-5">В ЧЕМ РАЗНИЦА?</button><div class="target-block"><div class="target-text">Далее</div><div class="continue next-w" next="#pos-3"></div></div></div>
    </div>
</div>

<div class="modal-content pos-3" id="pos-3" position="3">
    <div class="modal-header">
        <div class="button-block">
            <button type="button" class="continue continue-prev prev-w"></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title red-color">Какой тип недвижимости вы ищете?</p>
    </div>
    <div class="modal-body">
        <div class="text-center f-0 p-b-25">
            <select class="target" name="type" next="submit">
                {% for property_type in property_types %}
                     <option value="{{ property_type.0 }}">{{ property_type.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center"><button class="btn-sbmt next-w" next="#pos-5">В ЧЕМ РАЗНИЦА?</button></div>
    </div>
</div>
<div class="modal-content pos-4" id="pos-4" position="3">
    <div class="modal-header">
        <div class="button-block">
            <button type="button" class="continue continue-prev prev-w"></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title red-color">Инвестиции в строительство</p>
    </div>
    <div class="modal-body">
        <div class="f-11">
            Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
            Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов. Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
            <br><br>
            Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
            Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов.
            <br><br>
            Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
        </div>
        <div class="text-center p-t-25"><div class="target-block"><div class="target-text">ВЕРНУТЬСЯ К ПОИСКУ</div><div class="continue prev-w"></div></div></div>
    </div>
</div>
<div class="modal-content pos-5" id="pos-5" position="3">
    <div class="modal-header">
        <div class="button-block">
            <button type="button" class="continue continue-prev prev-w"></button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <p class="modal-title red-color">в чем разница?</p>
    </div>
    <div class="modal-body">
        <div class="f-11">
            Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
            Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов. Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.
            <br><br>
            Пхукет расположен у западного побережья Таиланда, в Андаманском море Индийского океана.
            Пхукет лидирует в списке крупнейших островов Таиланда. С материковой частью королевства остров соединён тремя мостами. Ранее процветание Пхукета, имеющего богатую и яркую историю, зиждил ось на добыче олова и каучука. И поскольку он находился на одном из основных торговых путей между Индией и Китаем,    оянно упоминался в корабельных журналах португальских, французских, голландских и английских купцов.
            <br><br>
            Сегодня провинция основную часть своих доходов получает благодаря огромной туристической популярности острова как морского курорта.

        </div>
        <div class="text-center p-t-25"><div class="target-block"><div class="target-text">ВЕРНУТЬСЯ К ПОИСКУ</div><div class="continue prev-w"></div></div></div>
    </div>
</div>
</form>