{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail catalog_extras %}
{% block title %}{% trans 'Каталог' %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/lightslider.css' %}">
{% endblock %}
{% block content %}
    <div class="full-offer row">
        <div class="full-offer-info col-sm-4 col-xs-12">
            <p class="full-offer-title">
                {{ property.name }}
            </p>
            <p class="full-offer-apart">{% if property.quality %} {{ property.quality }} {% endif %}</p>
            <div class="full-offer-charact">
                <p>{% trans 'Район' %}: <span class="red-color">{{ property.district }}</span></p>
                <p>{% trans 'Завершение строительства' %}: <span class="red-color"><nobr>{{ property.end_building|date:'F'|lower }}</nobr> {{ property.end_building|date:'Y' }}</span></p>
                <p>{% trans 'Расстояние до пляжа' %}: <span class="red-color">{{ property.distance_to_beach }} {% trans 'км' %}</span></p>
                <p>{% trans 'Общая площадь' %}: <span class="red-color">{{ property.space }} {% trans 'м' %}<sup>2</sup></span></p>
                <p>{% trans 'Количество спален' %}: <span class="red-color">{{ property.number_of_bedrooms }}</span></p>
                <p>{{ property.additional_info|linebreaksbr }}</p>
            </div>
            <div class="full-offer-price col-sm-4 col-xs-12 "><button class="btn-sbmt">{{ property|get_price:request }}</button></div>
        </div>
        <div class="full-offer-gallery col-sm-8 col-xs-12">
            <div class="offer-badge">
                {% trans property.get_new_resale_display|upper %}
            </div>
            <div class="clearfix">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    {% for photo in property.propertyphoto_set.all %}
                        <li data-thumb="{{ photo.image|thumbnail_url:'thumbnail' }}">
                            <img src="{{ photo.image.url }}" />
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include "articles_block.html" with articles=articles page='product_detail' %}

{% endblock %}
{% block js %}
    <script src="{% static 'js/lightslider.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:4,
                slideMargin: 0,
                speed:500,
                auto:true,
                loop:true,
                addClass: "supers",
                paddingRight:15,
                galleryMargin: 0,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });

        });
    </script>
{% endblock %}
