{% load i18n %}
{% load static %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %} Easy Deal {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <header>
    <img class="header-back" src="{% static 'images/header-back.png' %}">
    <div class="row">
        <div class="hidden-lg hidden-md col-xs-2 text-center mini-menu"><span id="mobile-menu" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
        <div class="logo col-md-3 col-xs-4"><img src="{% static 'images/logo.png' %}"></div>
        <div class="slidebar">
            <p style="font-size: 30px; color: #fff;height: 50px" id="close-mobile-menu"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></p>
            <menu>
                <a>ГЛАВНАЯ</a>
                <a>О НАС</a>
                <a>ПОКУПКА НЕДВИЖИМОСТИ</a>
                <a>ИНВЕСТИЦИИ В СТРОИТЕЛЬСТВО</a>
                <a>КОНТАКТЫ</a>
            </menu>
                
                {% include 'language_chooser1.html' %}

            <!--FOR SMALL SCREEN-->
            <div class="hidden-lg hidden-md col-xs-6"></div>
            <!--END FOR SMALL SCREEN-->
            <div class="col-lg-7 col-md-9 hidden-xs hidden-sm">
                <menu>
                    <a>ГЛАВНАЯ</a>|<a>О НАС</a>|<a>ПОКУПКА НЕДВИЖИМОСТИ</a>|<a>ИНВЕСТИЦИИ В СТРОИТЕЛЬСТВО</a>|<a>КОНТАКТЫ</a>
                </menu>
            </div>

            {% include 'language_chooser2.html' %}

        </div>
        <div class="slider">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'images/slider/img-1.jpg' %}" alt="First Slide">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/slider/img-1.jpg' %}" alt="Second Slide">
                    </div>
                    <div class="item">
                        <img src="{% static 'images/slider/img-1.jpg' %}" alt="Third Slide">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content content-padding">
        <!--FILTER_FORM BEGIN-->
        {% include 'filter_form.html' with filter_form=filter_form %}
        <!--FILTER_FORM END-->
        {% block content %} {% endblock %}
    </div>
        {% include 'user_contact.html' %}

        {% block modal %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.1/jquery.sidebar.min.js"></script>
    <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/icheck.min.js" %}"></script>
    
    {% render_block 'js' %}
    {% block js %}

    <script type="text/javascript">

        $(document).ready(function() { 
            $('select').niceSelect();
            $("header").outerHeight($(".slider").height());

            $('.carousel').carousel();

            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%' // optional
            });

            $("#mobile-menu").on("click",function () {
                $(".slidebar").css({"left":"0px"});
            });

            $("#close-mobile-menu").on("click", function () {
                $(".slidebar").css({"left":-1*$(".slidebar").outerWidth()+"px"})
            })
        });

        $(document).resize(function () {
            alert("resize");
            $("header").outerHeight($(".slider").height());
        })
    </script>

    {% endblock %}
</body>
</html>